<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willpower.jphoto">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:requestLegacyExternalStorage="true">
        <activity
            android:name=".camera.JCameraApi2Activity"
            android:theme="@style/JTheme" />

        <activity
            android:name=".album.JAlbumActivity"
            android:theme="@style/JTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.willpower.jphoto.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>